{% layout 'layouts/main' %}
{% block content %}
  <p>Hello {{ name }},</p>
  
  <p>We received a request to reset your password. Click the button below to choose a new password:</p>
  
  <p style="text-align: center;">
    <a href="{{ resetUrl }}" class="button">Reset Password</a>
  </p>
  
  <p>This link will expire in 60 minutes.</p>
  
  <p>If you didn't request this change, you can safely ignore this email.</p>
  
  <p>Best regards,<br>The Team</p>
{% endblock %}
